.header {
  padding: 0 136px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 60px;
  background-color: black;
  color: white;
  font-family: Poppins;
}

.center-content {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.right-text {
  position: absolute;
  right: 20px;
  display: flex;
  gap: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.shop-link {
  font-weight: bold;
  text-decoration: underline;
  color: white;
}
.shop-link p {
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 135px 16px;
  font-family: inter;
  margin-bottom: 40px;
  border-bottom: 1px solid #f5f5f5;
}
.nav h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}
.nav ul {
  gap: 48px;
  display: flex;
  justify-content: space-between;
}
.nav ul :nth-child(1) {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.nav a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
}
.nav .search--icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  font-size: 18px;
}
.nav .search--icons .search {
  background-color: #f5f5f5;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding: 7px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
}
.nav .search--icons .search p {
  color: black;
  opacity: 50%;
}
.nav .search--icons .search i {
  font-size: 18px;
}

main {
  padding: 0 135px;
  margin-bottom: 140px;
}

.sidebar-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.black {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 950px;
  font-family: Poppins;
  background-color: black;
  padding: 16px 64px 47px;
}
.black .flex--text {
  max-width: 292px;
}
.black .flex--text img {
  margin-left: 38px;
}
.black .flex--text h2 {
  color: white;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  margin: 20px 0;
}
.black .flex--text .shop-now {
  text-decoration: underline;
  text-underline-offset: 10px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.black .flex--text .logo-text {
  display: flex;
  align-items: center;
  gap: 24px;
  color: white;
}

.sidebar {
  border-right: 1px solid #f5f5f5;
  display: flex;
  font-family: Poppins;
  width: 250px;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 15px;
  font-size: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  position: relative;
  padding: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  display: block;
  transition: 0.3s;
}

.sidebar ul li a:hover {
  color: black;
  opacity: 80%;
}

.submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background: #ffffff;
  width: 180px;
  padding: 0;
}

.sidebar ul li:hover > .submenu {
  display: block;
}

.submenu li a {
  padding: 10px;
  display: block;
  color: #db4444;
}

section {
  padding: 0px 135px;
}

.today {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 100px;
  margin-bottom: 24px;
}
.today .rectangle {
  background-color: #db4444;
  height: 40px;
  width: 20px;
  border-radius: 4px;
}
.today p {
  color: #db4444;
  font-size: 16px;
  font-weight: 600;
  font-family: Poppins;
  line-height: 20px;
}

.time {
  display: flex;
  align-items: center;
  gap: 16px;
}
.time h2 {
  color: black;
  font-size: 36px;
  font-weight: 600;
  font-family: inter;
  line-height: 48px;
  margin-right: 87px;
}
.time .timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.time .timer h3 {
  color: black;
  font-size: 32px;
  font-weight: 700;
  font-family: inter;
  line-height: 30px;
}
.time .timer h6 {
  color: black;
  font-size: 12px;
  font-weight: 500;
  font-family: Poppins;
  line-height: 18px;
  margin-bottom: 4px;
}
.time .seperator {
  color: #db4444;
  font-size: 32px;
  font-weight: 700;
  font-family: Poppins;
  line-height: 30px;
}

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel .card .card--img {
  display: flex;
  align-items: center;
  max-width: 270px;
  min-height: 250px;
  background-color: #f5f5f5;
  padding: 49px;
  border-radius: 4px;
}
.carousel .card-text p {
  margin-top: 16px;
  color: black;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  line-height: 24px;
}
.carousel .card-text .prise {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 8px 0;
}
.carousel .card-text .prise h4 {
  color: black;
  opacity: 50%;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  line-height: 24px;
}
.carousel .card-text .prise h6 {
  color: #db4444;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  line-height: 24px;
}
.carousel .card-text .prise h5 {
  color: black;
  opacity: 50%;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  line-height: 24px;
  text-decoration: line-through;
}

.parent {
  position: relative;
}
.parent .child {
  position: absolute;
  top: 5%;
  left: 5%;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: #db4444;
}
.parent .child p {
  color: white;
  font-family: Poppins;
  font-size: 12px;
}

.column {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5%;
  right: 5%;
}
.column .icon {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 24px;
  background-color: white;
  border-radius: 100px;
  padding: 5px;
}/*# sourceMappingURL=main.css.map */