.header {
  padding: 0 136px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 60px;
  background-color: black;
  color: white;
  font-family: Poppins;
}

.center-content {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.right-text {
  position: absolute;
  right: 20px;
  display: flex;
  gap: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.shop-link {
  font-weight: bold;
  text-decoration: underline;
  color: white;
}
.shop-link p {
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 135px 16px;
  font-family: inter;
  margin-bottom: 40px;
  border-bottom: 1px solid #f5f5f5;
}
.nav h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}
.nav ul {
  gap: 48px;
  display: flex;
  justify-content: space-between;
}
.nav a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
}
.nav .active {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.nav .search--icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  font-size: 18px;
}
.nav .search--icons .list {
  display: none;
}
.nav .search--icons .search {
  background-color: #f5f5f5;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding: 7px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
}
.nav .search--icons .search p {
  color: black;
  opacity: 50%;
}
.nav .search--icons .search i {
  font-size: 18px;
}

main {
  padding: 0 135px;
  margin-bottom: 140px;
}

.sidebar-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.black {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 950px;
  font-family: Poppins;
  background-color: black;
  padding: 16px 64px 47px;
}
.black .flex--text {
  max-width: 292px;
}
.black .flex--text .shop--arrow {
  display: flex;
  align-items: center;
  gap: 8px;
}
.black .flex--text .shop--arrow i {
  color: white;
  font-size: 16px;
}
.black .flex--text img {
  margin-left: 38px;
}
.black .flex--text h2 {
  color: white;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  margin: 20px 0;
}
.black .flex--text .shop-now {
  text-decoration: underline;
  text-underline-offset: 10px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.black .flex--text .logo-text {
  display: flex;
  align-items: center;
  gap: 24px;
  color: white;
}

.sidebar {
  border-right: 1px solid #f5f5f5;
  display: flex;
  font-family: Poppins;
  width: 250px;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 15px;
  font-size: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  position: relative;
  padding: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  display: block;
  transition: 0.3s;
}

.sidebar ul li a:hover {
  color: black;
  opacity: 80%;
}

.submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background: #ffffff;
  width: 180px;
  padding: 0;
}

.sidebar ul li:hover > .submenu {
  display: block;
}

.submenu li a {
  padding: 10px;
  display: block;
  color: #db4444;
}

section {
  padding: 0px 135px;
}

.today {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 100px;
  margin-bottom: 24px;
}
.today .rectangle {
  background-color: #db4444;
  height: 40px;
  width: 20px;
  border-radius: 4px;
}
.today p {
  color: #db4444;
  font-size: 16px;
  font-weight: 600;
  font-family: Poppins;
  line-height: 20px;
}

.time {
  align-items: last baseline;
  gap: 16px;
  display: flex;
}
.time h2 {
  color: black;
  font-size: 36px;
  font-weight: 600;
  font-family: inter;
  line-height: 48px;
  margin-right: 87px;
  align-items: last baseline;
}
.time .row {
  display: flex;
  flex-direction: row;
  margin-left: 540px;
  gap: 8px;
}
.time .row .icon-arrow {
  font-size: 32px;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 100px;
  padding: 5px;
}
.time .timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.time .timer h3 {
  color: black;
  font-size: 32px;
  font-weight: 700;
  font-family: inter;
  line-height: 30px;
}
.time .timer h6 {
  color: black;
  font-size: 12px;
  font-weight: 500;
  font-family: Poppins;
  line-height: 18px;
  margin-bottom: 4px;
}
.time .seperator {
  color: #db4444;
  font-size: 32px;
  font-weight: 700;
  font-family: Poppins;
  line-height: 30px;
}

.carousel {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel .prodact {
  height: 190px;
  width: 180px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.carousel .card .card--img {
  display: flex;
  align-items: center;
  max-width: 270px;
  min-height: 250px;
  background-color: #f5f5f5;
  padding: 49px;
  border-radius: 4px;
}
.carousel .card-text p {
  margin-top: 16px;
  color: black;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  line-height: 24px;
}
.carousel .card-text .prise {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 8px 0;
}
.carousel .card-text .prise h4 {
  color: black;
  opacity: 50%;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  line-height: 24px;
}
.carousel .card-text .prise h6 {
  color: #db4444;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  line-height: 24px;
}
.carousel .card-text .prise h5 {
  color: black;
  opacity: 50%;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  line-height: 24px;
  text-decoration: line-through;
}

.parent {
  position: relative;
}
.parent .child {
  position: absolute;
  top: 5%;
  left: 5%;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: #db4444;
}
.parent .child p {
  color: white;
  font-family: Poppins;
  font-size: 12px;
}

.column {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5%;
  right: 5%;
}
.column .icon {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 24px;
  background-color: white;
  border-radius: 100px;
  padding: 5px;
}

.btn {
  background-color: #db4444;
  border-radius: 4px;
  padding: 16px 48px;
  width: 234px;
  margin: 60px auto 60px;
  border-bottom: 1px solid #f5f5f5;
}
.btn a {
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  line-height: 24px;
  text-decoration: none;
}

.categories {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 200px;
  margin-bottom: 24px;
}
.categories .rectangle {
  background-color: #db4444;
  height: 40px;
  width: 20px;
  border-radius: 4px;
}
.categories p {
  color: #db4444;
  font-size: 16px;
  font-weight: 600;
  font-family: Poppins;
  line-height: 20px;
}

.row-categ {
  display: flex;
  flex-direction: row;
  margin-left: 700px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 60px;
}
.row-categ .icon-arrow {
  font-size: 32px;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 100px;
  padding: 5px;
}

.line {
  margin: 60px 0;
  border-bottom: 1px solid #f5f5f5;
}

.category--cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category--cards .category--card {
  border: 2px solid #f5f5f5;
  border-radius: 4px;
  padding: 25px 55px;
  max-width: 170px;
  min-height: 145px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.category--cards .category--card i {
  font-size: 24px;
}
.category--cards .category--card p {
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  margin-top: 16px;
}
.category--cards .category--card:hover {
  background-color: #db4444;
  cursor: pointer;
}
.category--cards .category--card:hover i,
.category--cards .category--card:hover p {
  color: white;
}

.btn--view {
  width: 159px;
  margin-left: 600px;
}

.banner2 {
  margin: 60px 0;
}
.banner2 .responsive img {
  display: none;
}
.banner2 .black2 {
  max-width: 1500px;
  padding: 69px 56px;
}
.banner2 .black2 h2 {
  margin: 32px 0px;
}
.banner2 .black2 .flex--text {
  max-width: 443px;
}
.banner2 .black2 .flex--text .btn2 {
  background-color: #00ff66;
  border-radius: 4px;
  max-width: 171px;
  padding: 16px 48px;
  margin-top: 40px;
}
.banner2 .black2 .flex--text .btn2 a {
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  line-height: 24px;
  text-decoration: none;
}
.banner2 .black2 .flex--text .logo-text p {
  color: #00ff66;
}
.banner2 .black2 .flex--text .logo-text h2 {
  margin: 32px 0px;
}

.banner-timer {
  display: flex;
  gap: 24px;
}
.banner-timer .rgoli {
  width: 60px;
  height: 60px;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 100px;
  display: flex;
  justify-content: center;
}
.banner-timer .rgoli h6 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.banner-timer .rgoli h3 {
  font-family: Poppins;
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
}

.products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: baseline;
}
.products h2 {
  color: black;
  font-size: 36px;
  font-weight: 600;
  font-family: inter;
  line-height: 48px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.products-container .color2 {
  background-color: #00ff66;
}
.products-container .card--img {
  display: flex;
  align-items: center;
  max-width: 270px;
  min-height: 250px;
  background-color: #f5f5f5;
  padding: 49px;
  border-radius: 4px;
}
.products-container .card--img .prodact {
  height: 190px;
  width: 180px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.products-container .card--img .product-card {
  position: relative;
  overflow: hidden;
}
.products-container .card-text p {
  margin-top: 16px;
  color: black;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  line-height: 24px;
}
.products-container .card-text .prise {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 8px 0;
}
.products-container .card-text .prise h4 {
  color: black;
  opacity: 50%;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  line-height: 24px;
}
.products-container .card-text .prise h6 {
  color: #db4444;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  line-height: 24px;
}
.products-container .card-text .prise h5 {
  color: black;
  opacity: 50%;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  line-height: 24px;
  text-decoration: line-through;
}

.margin {
  margin-top: 140px;
}

.new {
  margin: 60px 0 140px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.new .container {
  position: relative;
  display: flex;
  justify-content: baseline;
  align-items: center;
}
.new .color-new {
  background-color: black;
  justify-content: flex-end;
}
.new .color-new .child-ps {
  bottom: 10%;
  left: 5%;
}
.new .color-new .child-woman {
  bottom: 10%;
  left: 5%;
}
.new .color-new .child-seaker {
  bottom: 10%;
  left: 10%;
}
.new .color-new .text-flex {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.new .color-new .text-flex h2 {
  font-family: inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: white;
}
.new .color-new .text-flex p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: white;
  margin: 16px 0;
}
.new .color-new .text-flex a {
  text-underline-offset: 5px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: white;
}

.text-pc {
  max-width: 242px;
}

.text-woman {
  max-width: 255px;
}

.text-speaker {
  max-width: 500px;
}

.ps5 {
  grid-column: 1/2;
  grid-row: 1/3;
}

.women {
  grid-column: 2/4;
  grid-row: 1/2;
}

.speakers {
  grid-column: 2/3;
  grid-row: 2/3;
}

.perfume {
  grid-column: 3/4;
  grid-row: 2/3;
}

@media (max-width: 800px) {
  .new-arrival {
    display: flex;
    flex-direction: column;
  }
}
.services {
  display: flex;
  gap: 88px;
  justify-content: center;
  margin-bottom: 140px;
}
.services .box {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.services .box .circle {
  padding: 20px;
  border-radius: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  border: 15px solid #d1d1d1;
}
.services .box .circle i {
  color: white;
  font-size: 38px;
}
.services .box h2 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: black;
  margin: 24px 0 8px;
}
.services .box h3 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: black;
}

.footer {
  background-color: black;
  color: white;
  padding: 80px 135px 24px;
  font-family: Poppins;
}
.footer .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer .footer-section {
  max-width: 250px;
}
.footer .footer-section h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  font-family: inter;
  margin-bottom: 24px;
}
.footer .footer-section .p-bold {
  font-size: 20px;
  color: #f5f5f5;
  margin-bottom: 24px;
  font-weight: 500;
  line-height: 28px;
}
.footer .footer-section p {
  font-size: 16px;
  color: #f5f5f5;
  margin-bottom: 24px;
  font-weight: 400;
  line-height: 24px;
}
.footer .footer-section .opacity {
  opacity: 50%;
  font-size: 12px;
  color: #f5f5f5;
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 18px;
}
.footer .footer-section form {
  display: flex;
}
.footer .footer-section form input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
}
.footer .footer-section form button {
  background: #fff;
  color: #111;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}
.footer .footer-section ul {
  list-style: none;
  padding: 0;
}
.footer .footer-section ul li {
  margin-bottom: 16px;
}
.footer .footer-section ul li a {
  color: #ccc;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.footer .footer-section ul li a:hover {
  color: #fff;
}
.footer .footer-section .qr-code img {
  width: 100px;
  height: auto;
}
.footer .footer-section .qrcode-apps {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer .footer-section .qrcode-apps .app-links {
  display: flex;
  flex-direction: column;
}
.footer .footer-section .qrcode-apps .app-links .googleplay {
  margin-bottom: 12px;
}
.footer .footer-section .qrcode-apps .app-links img {
  width: 120px;
  margin-top: 5px;
}
.footer .footer-section .social-icons {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer .footer-section .social-icons i {
  color: white;
  font-size: 24px;
}
.footer .footer-bottom {
  margin-top: 76px;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  background: #000;
}
.footer .footer-bottom p {
  color: #ffffff;
  opacity: 50%;
}

.title {
  display: flex;
  align-items: center;
  gap: 12px;
}
.title p {
  font-size: 14px;
  color: black;
  opacity: 50%;
  font-weight: 400;
  line-height: 21px;
  font-family: Poppins;
}
.title .color-about {
  color: black;
  opacity: 100%;
  font-family: Poppins;
}

.text-img {
  margin-top: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-img .story {
  max-width: 525px;
}
.text-img .story h1 {
  font-size: 54px;
  color: black;
  font-weight: 600;
  line-height: 64px;
  font-family: inter;
}
.text-img .story p {
  font-size: 16px;
  color: black;
  font-weight: 400;
  line-height: 26px;
  font-family: inter;
}
.text-img .story :nth-child(2) {
  margin: 40px 0 24px;
}

#main {
  padding-left: 135px;
  padding-right: 0;
}

.services .box-about {
  border: 1px solid black;
  padding: 30px 30px;
  align-items: center;
  width: 270px;
}

.scrol .persons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.scrol .persons .person h2 {
  font-size: 32px;
  color: black;
  font-weight: 500;
  line-height: 30px;
  font-family: inter;
  margin: 32px 0 8px;
}
.scrol .persons .person h3 {
  font-size: 16px;
  color: black;
  font-weight: 400;
  line-height: 24px;
  font-family: Poppins;
  margin-bottom: 16px;
}
.scrol .persons .person .imgbackground {
  background-color: #f5f5f5;
  padding: 33px 38px 0;
}
.scrol .persons .person .imgdiv {
  width: 294px;
  height: 397px;
}
.scrol .persons .person .app-icons {
  gap: 20px;
  font-size: 20px;
  color: black;
}
.scrol .full-stops {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 140px;
}
.scrol .full-stops .mini-circle {
  border-radius: 100%;
  padding: 5px;
  background-color: #5a5656;
  box-sizing: border-box;
  border: 4px solid #5a5656;
}
.scrol .full-stops .active-circle {
  background-color: #db4444;
  border: 4px solid #5a5656;
}

.wishlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
}
.wishlist p {
  font-size: 20px;
  color: black;
  font-weight: 400;
  line-height: 26px;
  font-family: Poppins;
  margin-bottom: 16px;
}
.wishlist .btn-color {
  margin-left: 880px;
  border: 1px solid black;
  background-color: white;
}
.wishlist .btn-color a {
  color: black;
}

.fy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
}
.fy .align {
  display: flex;
  align-items: center;
}
.fy .rectangle {
  margin-right: 16px;
}
.fy .btn-color {
  margin-left: 860px;
  border: 1px solid black;
  background-color: white;
}
.fy .btn-color a {
  color: black;
}
.fy .rectangle {
  background-color: #db4444;
  height: 40px;
  width: 20px;
  border-radius: 4px;
}
.fy p {
  color: #db4444;
  font-size: 16px;
  font-weight: 600;
  font-family: Poppins;
  line-height: 20px;
}

@media screen and (max-width: 800px) {
  .header {
    padding: 0 80px;
    height: 50px;
  }
  .nav {
    padding: 30px 20px 16px;
    margin-bottom: 30px;
  }
  .nav h1 {
    font-size: 20px;
  }
  .nav nav {
    display: none;
  }
  .nav .search--icons .list {
    display: flex;
  }
  #main {
    padding-left: 70px;
  }
  main {
    margin-bottom: 80px;
  }
  main .text-img {
    margin-top: 32px;
    flex-direction: column;
  }
  main .text-img .story h1 {
    font-size: 42px;
  }
  main .text-img .responsive-img {
    transform: scale(0.8);
  }
  section {
    padding: 0px 80px;
  }
  section .services {
    margin-left: 70px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  section .services .box-about {
    border: 1px solid black;
    padding: 16px;
    width: 250px;
  }
  section .services .box .circle {
    padding: 10px;
    border: 10px;
  }
  section .services .box .circle i {
    font-size: 32px;
  }
  section .services .box h2 {
    font-size: 18px;
    line-height: 24px;
    margin: 16px 0 8px;
  }
  section {
    padding: 0 80px;
  }
  section .scrol .persons {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
  }
  section .scrol .persons .person {
    margin-bottom: 20px;
  }
  section .scrol .persons .person h2 {
    font-size: 20px;
    line-height: 28px;
    margin: 24px 0 8px;
    font-weight: 500;
  }
  section .scrol .persons .person h3 {
    margin-bottom: 8px;
    line-height: 20px;
  }
  section .scrol .persons .person .imgbackground {
    padding-bottom: 0px;
  }
  section .scrol .persons .person .imgdiv img {
    transform: scale(0.9);
  }
  section .scrol .full-stops {
    gap: 10px;
    margin-bottom: 80px;
  }
  section .scrol .full-stops .mini-circle {
    padding: 4px;
    box-sizing: border-box;
    border: 3px solid #5a5656;
  }
  section .scrol .full-stops .active-circle {
    border: 3px solid #5a5656;
  }
  section {
    padding: 0px 0px;
    justify-content: center;
  }
  section .responsive-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    margin-left: 0;
  }
  main {
    margin-bottom: 40px;
    padding: 0px 80px;
  }
  main .wishlist {
    height: 60px;
    display: flex;
    align-items: center;
  }
  main .wishlist p {
    font-size: 16px;
    margin: 0;
  }
  main .wishlist .btn-color {
    justify-content: center;
    max-width: 200px;
    padding: 8px 20px;
    margin-left: 350px;
  }
  main .wishlist .btn-color a {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
  main .carousel {
    display: flex;
    flex-wrap: wrap;
  }
  main .carousel .prodact {
    height: 150px;
    width: 140px;
  }
  main .carousel .prodact img {
    transform: scale(0.8);
  }
  main .carousel .card .card--img {
    display: flex;
    align-items: center;
    max-width: 280px;
    min-height: 220px;
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 4px;
  }
  main .carousel .card-text p {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
  main .carousel .card-text .prise h4 {
    font-size: 16px;
    line-height: 24px;
  }
  main .carousel .card-text .prise h6 {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
  main .carousel .card-text .prise h5 {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
  section {
    padding: 0 80px;
  }
  section .fy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  section .fy .align {
    display: flex;
    align-items: center;
  }
  section .fy .align p {
    margin-right: 200px;
  }
  section .fy .rectangle {
    width: 15px;
    height: 30px;
  }
  section .fy .btn {
    background-color: #db4444;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    padding: 8px 28px;
    margin: 0;
  }
  section .fy .btn a {
    color: white;
    font-size: 12px;
    font-weight: 500;
    font-family: Poppins;
    line-height: 20px;
    text-decoration: none;
  }
  section .fy .btn-color {
    margin-left: 0;
    border: 1px solid black;
    background-color: white;
  }
  section .fy .btn-color a {
    color: black;
  }
  section .carousel {
    display: flex;
    flex-wrap: wrap;
  }
  section .carousel .prodact {
    height: 150px;
    width: 140px;
  }
  section .carousel .prodact img {
    transform: scale(0.8);
  }
  section .carousel .card .card--img {
    display: flex;
    align-items: center;
    max-width: 280px;
    min-height: 220px;
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 4px;
  }
  section .carousel .card-text p {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
  section .carousel .card-text .prise h4 {
    font-size: 16px;
    line-height: 24px;
  }
  section .carousel .card-text .prise h6 {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
  section .carousel .card-text .prise h5 {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
  .sidebar-banner .sidebar {
    display: none;
  }
  .sidebar-banner .black {
    max-width: 100%;
    padding: 16px 40px 32px;
  }
  .sidebar-banner .black .flex--text {
    max-width: 292px;
  }
  .sidebar-banner .black .flex--text img {
    margin-left: 0px;
  }
  .sidebar-banner .black .flex--text h2 {
    color: white;
    font-size: 28px;
    font-weight: 500;
    line-height: 30px;
    margin: 10px 0;
  }
  .sidebar-banner .black .flex--text .shop--arrow {
    gap: 6px;
  }
  .sidebar-banner .black .flex--text .shop--arrow p {
    font-size: 14px;
  }
  .sidebar-banner .black .flex--text .shop--arrow i {
    color: white;
    font-size: 16px;
  }
  .sidebar-banner .black .flex--text .logo-text {
    display: flex;
    align-items: center;
    gap: 16px;
    color: white;
  }
  .sidebar-banner .black .flex--text .logo-text i {
    font-size: 40px;
    color: white;
    display: flex;
  }
  .sidebar-banner .black img {
    width: 60%;
  }
  section .today p {
    font-size: 12px;
  }
  section .today .rectangle {
    width: 15px;
    height: 30px;
  }
  section .time--section .time h2 {
    font-size: 24px;
    line-height: 28px;
    margin-right: 200px;
  }
  section .time--section .time .timer h6 {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
  }
  section .time--section .time .timer h3 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
  }
  section .time--section .time .none {
    display: none;
  }
  section .carousel {
    display: flex;
    flex-wrap: wrap;
  }
  section .carousel .prodact {
    height: 150px;
    width: 140px;
  }
  section .carousel .prodact img {
    transform: scale(0.8);
  }
  section .carousel .card .card--img {
    display: flex;
    align-items: center;
    max-width: 280px;
    min-height: 220px;
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 4px;
  }
  section .carousel .card-text p {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
  section .carousel .card-text .prise h4 {
    font-size: 16px;
    line-height: 24px;
  }
  section .carousel .card-text .prise h6 {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
  section .carousel .card-text .prise h5 {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
  section .carousel {
    margin-top: 20px;
  }
  section .categories p {
    font-size: 12px;
  }
  section .categories .rectangle {
    width: 15px;
    height: 30px;
  }
  section .time h2 {
    font-size: 24px;
    line-height: 28px;
    margin-right: 200px;
    margin-bottom: 20px;
  }
  section .time .row-categ {
    display: none;
  }
  section .category--cards {
    display: flex;
    flex-wrap: wrap;
  }
  section .category--cards .category--card {
    border: 2px solid #f5f5f5;
    border-radius: 4px;
    padding: 25px 55px;
    max-width: 170px;
    min-height: 145px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  section .category--cards .category--card i {
    font-size: 24px;
  }
  section .category--cards .category--card p {
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    margin-top: 16px;
  }
  section .time {
    margin-bottom: 20px;
  }
  section .time h2 {
    margin: 0;
  }
  section .time .btn--view {
    margin: 0 0 0 200px;
    background-color: #db4444;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    padding: 8px 28px;
  }
  section .time .btn--view a {
    color: white;
    font-size: 12px;
    font-weight: 500;
    font-family: Poppins;
    line-height: 20px;
    text-decoration: none;
  }
  section .carousel {
    margin-top: 0;
  }
  .banner2 .black {
    padding: 30px;
  }
  .banner2 .black .flex--text .btn2 {
    background-color: #db4444;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    padding: 8px 28px;
    background-color: #00ff66;
  }
  .banner2 .black .flex--text .btn2 a {
    color: white;
    font-size: 12px;
    font-weight: 500;
    font-family: Poppins;
    line-height: 20px;
    text-decoration: none;
  }
  .banner2 .black .flex--text h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
  }
  .banner2 .black .flex--text .banner-timer {
    display: flex;
    gap: 18px;
  }
  .banner2 .black .flex--text .banner-timer .rgoli {
    padding: 20px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
  }
  .banner2 .black .flex--text .banner-timer .rgoli h6 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
  }
  .banner2 .black .flex--text .banner-timer .rgoli h3 {
    font-family: Poppins;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
  }
  .banner2 img {
    display: none;
  }
  .banner2 .responsive {
    width: 298px;
    height: 300px;
  }
  .banner2 .responsive img {
    display: flex;
    width: 100%;
    height: 100%;
  }
  section .products h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  section .products .row-categ {
    display: none;
  }
  section .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
  }
  section .products-container :nth-child(5) {
    display: none;
  }
  section .products-container :nth-child(6) {
    display: none;
  }
  section .products-container :nth-child(7) {
    display: none;
  }
  section .products-container :nth-child(8) {
    display: none;
  }
  section .products-container .prodact {
    height: 150px;
    width: 140px;
  }
  section .products-container .prodact img {
    transform: scale(0.8);
  }
  section .products-container .card .card--img {
    display: flex;
    align-items: center;
    max-width: 280px;
    min-height: 220px;
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 4px;
  }
  section .products-container .card-text p {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
  section .products-container .card-text .prise h4 {
    font-size: 16px;
    line-height: 24px;
  }
  section .products-container .card-text .prise h6 {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
  section .products-container .card-text .prise h5 {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
  section .products {
    align-items: center;
  }
  section .new {
    margin-top: 0px;
  }
}/*# sourceMappingURL=main.css.map */