@import "mixins";
@import "variables";

.header {
  padding: 0 136px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 60px;
  background-color: $maincolor;
  color: $saletextcolor;
  font-family: $secondaryfont;
}
.center-content {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.right-text {
  position: absolute;
  right: 20px;
  display: flex;
  gap: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.shop-link {
  p {
    color: $saletextcolor;
  }
  font-weight: bold;
  text-decoration: underline;

  color: $saletextcolor;
}

.nav {
  @include flex;
  padding: 40px 135px 16px;
  font-family: $mainfont;
  margin-bottom: 40px;

  border-bottom: 1px solid $grey;

  h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
  }
  ul {
    gap: 48px;
    display: flex;
    justify-content: space-between;
  }
  a {
    text-decoration: none;
    color: $maincolor;
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
  }
  .active {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
  .search--icons {
    @include flex;
    gap: 16px;
    .list {
      display: none;
    }
    .search {
      background-color: $grey;
      border-radius: 4px;
      p {
        color: $maincolor;
        opacity: 50%;
      }
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      padding: 7px 20px;
      @include flex;
      gap: 34px;
      i {
        font-size: 18px;
      }
    }
    font-size: 18px;
  }
}
main {
  padding: 0 135px;
  margin-bottom: 140px;
}
.sidebar-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.black {
  @include flex;
  max-width: 950px;
  font-family: $secondaryfont;
  background-color: $maincolor;
  padding: 16px 64px 47px;
  .flex--text {
    max-width: 292px;
    .shop--arrow {
      @include align;
      gap: 8px;
      i {
        color: $saletextcolor;
        font-size: 16px;
      }
    }
    img {
      margin-left: 38px;
    }
    h2 {
      color: $saletextcolor;
      font-size: 48px;
      font-weight: 600;
      line-height: 60px;
      margin: 20px 0;
    }
    .shop-now {
      text-decoration: underline;
      text-underline-offset: 10px;
      color: $saletextcolor;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
    .logo-text {
      @include align;
      gap: 24px;
      color: $saletextcolor;
    }
  }
}
.sidebar {
  border-right: 1px solid $grey;
  display: flex;
  font-family: Poppins;
  width: 250px;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 15px;
  font-size: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  position: relative;
  padding: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: $maincolor;
  font-size: 16px;
  display: block;
  transition: 0.3s;
}

.sidebar ul li a:hover {
  color: $maincolor;
  opacity: 80%;
}

.submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background: #ffffff;
  width: 180px;
  padding: 0;
}

.sidebar ul li:hover > .submenu {
  display: block;
}

.submenu li a {
  padding: 10px;
  display: block;
  color: $secondarycolor;
}
section {
  padding: 0px 135px;
}
.today {
  @include align;
  gap: 10px;
  max-width: 100px;
  margin-bottom: 24px;
  .rectangle {
    background-color: $secondarycolor;
    height: 40px;
    width: 20px;
    border-radius: 4px;
  }
  p {
    color: $secondarycolor;
    font-size: 16px;
    font-weight: 600;
    font-family: Poppins;
    line-height: 20px;
  }
}

.time {
  align-items: last baseline;
  h2 {
    color: $maincolor;
    font-size: 36px;
    font-weight: 600;
    font-family: inter;
    line-height: 48px;
    margin-right: 87px;
    align-items: last baseline;
  }
  .row {
    display: flex;
    flex-direction: row;
    margin-left: 540px;
    gap: 8px;

    .icon-arrow {
      font-size: 32px;
      display: flex;
      align-items: center;

      background-color: $grey;
      border-radius: 100px;
      padding: 5px;
    }
  }
  //   @include align;
  gap: 16px;
  display: flex;
  .timer {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      color: $maincolor;
      font-size: 32px;
      font-weight: 700;
      font-family: inter;
      line-height: 30px;
    }
    h6 {
      color: $maincolor;
      font-size: 12px;
      font-weight: 500;
      font-family: Poppins;
      line-height: 18px;
      margin-bottom: 4px;
    }
  }
  .seperator {
    color: $secondarycolor;
    font-size: 32px;
    font-weight: 700;
    font-family: Poppins;
    line-height: 30px;
  }
}
.carousel {
  margin-top: 40px;
  @include flex;
  .prodact {
    height: 190px;
    width: 180px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .card {
    .card--img {
      @include align;
      max-width: 270px;
      min-height: 250px;
      background-color: $grey;
      padding: 49px;
      border-radius: 4px;
    }
  }
  .card-text {
    p {
      margin-top: 16px;
      color: $maincolor;
      font-size: 16px;
      font-weight: 500;
      font-family: Poppins;
      line-height: 24px;
    }
    .prise {
      @include align;
      gap: 12px;
      margin: 8px 0;
      h4 {
        color: $maincolor;
        opacity: 50%;
        font-size: 16px;
        font-weight: 500;
        font-family: Poppins;
        line-height: 24px;
      }
      h6 {
        color: $secondarycolor;
        font-size: 16px;
        font-weight: 500;
        font-family: Poppins;
        line-height: 24px;
      }
      h5 {
        color: $maincolor;
        opacity: 50%;
        font-size: 16px;
        font-weight: 500;
        font-family: Poppins;
        line-height: 24px;
        text-decoration: line-through;
      }
    }
  }
}
.parent {
  position: relative;
  .child {
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 4px 12px;
    border-radius: 4px;
    background-color: $secondarycolor;
    p {
      color: $saletextcolor;
      font-family: Poppins;
      font-size: 12px;
    }
  }
}
.column {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5%;
  right: 5%;
  .icon {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 24px;
    background-color: $saletextcolor;
    border-radius: 100px;
    padding: 5px;
  }
}
.btn {
  @include btn;
  width: 234px;
  margin: 60px auto 60px;
  border-bottom: 1px solid $grey;
}
.categories {
  @include align;
  gap: 10px;
  max-width: 200px;
  margin-bottom: 24px;
  .rectangle {
    background-color: $secondarycolor;
    height: 40px;
    width: 20px;
    border-radius: 4px;
  }
  p {
    color: $secondarycolor;
    font-size: 16px;
    font-weight: 600;
    font-family: Poppins;
    line-height: 20px;
  }
}
.row-categ {
  display: flex;
  flex-direction: row;
  margin-left: 700px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 60px;
  .icon-arrow {
    font-size: 32px;
    display: flex;
    align-items: center;

    background-color: $grey;
    border-radius: 100px;
    padding: 5px;
  }
}
.line {
  margin: 60px 0;
  border-bottom: 1px solid $grey;
}
.category--cards {
  @include flex;
  .category--card {
    border: 2px solid $grey;
    border-radius: 4px;
    padding: 25px 55px;
    max-width: 170px;
    min-height: 145px;
    @include align;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    i {
      font-size: 24px;
    }
    p {
      font-size: 16px;
      font-family: $secondaryfont;
      font-weight: 400;
      margin-top: 16px;
    }
    &:hover {
      background-color: $secondarycolor;
      i,
      p {
        color: $saletextcolor;
      }
      cursor: pointer;
    }
  }
}
.btn--view {
  width: 159px;
  margin-left: 600px;
}
.banner2 {
  margin: 60px 0;
  .responsive {
    img {
      display: none;
    }
  }
  .black2 {
    h2 {
      margin: 32px 0px;
    }
    max-width: 1500px;
    padding: 69px 56px;
    .flex--text {
      .btn2 {
        background-color: $button;
        border-radius: 4px;
        max-width: 171px;
        padding: 16px 48px;
        margin-top: 40px;
        a {
          color: $saletextcolor;
          font-size: 16px;
          font-weight: 500;
          font-family: Poppins;
          line-height: 24px;
          text-decoration: none;
        }
      }
      max-width: 443px;
      .logo-text {
        p {
          color: $button;
        }
        h2 {
          margin: 32px 0px;
        }
      }
    }
  }
}
.banner-timer {
  display: flex;
  gap: 24px;
  .rgoli {
    width: 60px;
    height: 60px;
    flex-direction: column;
    align-items: center;
    background-color: $saletextcolor;
    border-radius: 100px;
    display: flex;

    justify-content: center;
    h6 {
      font-family: $secondaryfont;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
    }
    h3 {
      font-family: $secondaryfont;
      font-size: 11px;
      font-weight: 400;
      line-height: 18px;
    }
  }
}
.products {
  @include flex;
  align-items: baseline;
  h2 {
    color: $maincolor;
    font-size: 36px;
    font-weight: 600;
    font-family: $mainfont;
    line-height: 48px;
  }
}
.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  .color2 {
    background-color: $button;
  }
  .card--img {
    @include align;
    max-width: 270px;
    min-height: 250px;
    background-color: $grey;
    padding: 49px;
    border-radius: 4px;

    .prodact {
      height: 190px;
      width: 180px;
      align-items: center;
      display: flex;
      justify-content: center;
    }
    .product-card {
      position: relative;
      overflow: hidden;
    }
  }
  .card-text {
    p {
      margin-top: 16px;
      color: $maincolor;
      font-size: 16px;
      font-weight: 500;
      font-family: Poppins;
      line-height: 24px;
    }
    .prise {
      @include align;
      gap: 12px;
      margin: 8px 0;
      h4 {
        color: $maincolor;
        opacity: 50%;
        font-size: 16px;
        font-weight: 500;
        font-family: Poppins;
        line-height: 24px;
      }
      h6 {
        color: $secondarycolor;
        font-size: 16px;
        font-weight: 500;
        font-family: Poppins;
        line-height: 24px;
      }
      h5 {
        color: $maincolor;
        opacity: 50%;
        font-size: 16px;
        font-weight: 500;
        font-family: Poppins;
        line-height: 24px;
        text-decoration: line-through;
      }
    }
  }
}
.margin {
  margin-top: 140px;
}
.new {
  margin: 60px 0 140px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;

  .container {
    position: relative;
    display: flex;
    justify-content: baseline;
    align-items: center;
  }

  .color-new {
    background-color: $maincolor;
    justify-content: flex-end;
    .child-ps {
      bottom: 10%;
      left: 5%;
    }
    .child-woman {
      bottom: 10%;
      left: 5%;
    }
    .child-seaker {
      bottom: 10%;
      left: 10%;
    }

    .text-flex {
      @include text;

      z-index: 1;
      h2 {
        font-family: $mainfont;
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;
        color: $saletextcolor;
      }
      p {
        font-family: $secondaryfont;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: $saletextcolor;
        margin: 16px 0;
      }
      a {
        text-underline-offset: 5px;
        font-family: $secondaryfont;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: $saletextcolor;
      }
    }
  }
}
.text-pc {
  max-width: 242px;
}
.text-woman {
  max-width: 255px;
}
.text-speaker {
  max-width: 500px;
}

// Grid Placement
.ps5 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.women {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.speakers {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.perfume {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

// Responsive Design
@media (max-width: 800px) {
  .new {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    .ps5 {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }

    .women {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }

    .speakers {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }

    .perfume {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }
  }
}
//service
.services {
  display: flex;
  gap: 88px;
  justify-content: center;
  margin-bottom: 140px;

  .box {
    display: flex;
    align-items: center;
    flex-direction: column;

    .circle {
      padding: 20px;
      border-radius: 100%;
      background-color: $maincolor;
      @include align;
      border: 15px solid #d1d1d1;

      i {
        color: $saletextcolor;
        font-size: 38px;
      }
    }
    h2 {
      font-family: $secondaryfont;
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      color: $maincolor;
      margin: 24px 0 8px;
    }
    h3 {
      font-family: $secondaryfont;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: $maincolor;
    }
  }
}
// footer
.footer {
  background-color: $maincolor;
  color: white;
  padding: 80px 135px 24px;
  font-family: $secondaryfont;

  .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .footer-section {
    max-width: 250px;

    h3 {
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      font-family: $mainfont;
      margin-bottom: 24px;
    }

    .p-bold {
      font-size: 20px;
      color: $grey;
      margin-bottom: 24px;
      font-weight: 500;
      line-height: 28px;
    }
    p {
      font-size: 16px;
      color: $grey;
      margin-bottom: 24px;
      font-weight: 400;
      line-height: 24px;
    }
    .opacity {
      opacity: 50%;
      font-size: 12px;
      color: $grey;
      margin-bottom: 8px;
      font-weight: 500;
      line-height: 18px;
    }

    form {
      display: flex;
      input {
        flex: 1;
        padding: 8px;
        border: none;
        border-radius: 5px;
        margin-right: 5px;
      }
      button {
        background: #fff;
        color: #111;
        border: none;
        padding: 8px 12px;
        cursor: pointer;
        border-radius: 5px;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      li {
        margin-bottom: 16px;
        a {
          color: #ccc;
          text-decoration: none;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          &:hover {
            color: #fff;
          }
        }
      }
    }

    .qr-code img {
      width: 100px;
      height: auto;
    }
    .qrcode-apps {
      display: flex;
      align-items: center;
      gap: 12px;

      .app-links {
        .googleplay {
          margin-bottom: 12px;
        }
        img {
          width: 120px;
          margin-top: 5px;
        }
        display: flex;
        flex-direction: column;
      }
    }

    .social-icons {
      margin-top: 24px;
      display: flex;
      align-items: center;
      gap: 24px;
      i {
        color: $saletextcolor;

        font-size: 24px;
      }
    }
  }

  .footer-bottom {
    margin-top: 76px;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    background: #000;
    p {
      color: #ffffff;
      opacity: 50%;
    }
  }
}
//footer responsive
@media screen and (max-width: 800px) {
  .footer {
    padding: 40px 60px 20px;
    .container {
      gap: 24px;
    }
  }
}
//about page
.title {
  @include align;
  gap: 12px;
  p {
    font-size: 14px;
    color: $maincolor;
    opacity: 50%;
    font-weight: 400;
    line-height: 21px;
    font-family: $secondaryfont;
  }
  .color-about {
    color: $maincolor;

    opacity: 100%;
    font-family: $secondaryfont;
  }
}
.text-img {
  margin-top: 42px;
  @include flex;
  .story {
    max-width: 525px;
    h1 {
      font-size: 54px;
      color: $maincolor;

      font-weight: 600;
      line-height: 64px;
      font-family: $mainfont;
    }
    p {
      font-size: 16px;
      color: $maincolor;
      font-weight: 400;
      line-height: 26px;
      font-family: $mainfont;
    }
    :nth-child(2) {
      margin: 40px 0 24px;
    }
  }
}
#main {
  padding-left: 135px;
  padding-right: 0;
}
.services {
  .box-about {
    border: 1px solid $maincolor;
    padding: 30px 30px;
    align-items: center;
    width: 270px;
  }
}
.scrol {
  .persons {
    @include flex;
    margin-bottom: 60px;
    .person {
      h2 {
        font-size: 32px;
        color: $maincolor;
        font-weight: 500;
        line-height: 30px;
        font-family: $mainfont;
        margin: 32px 0 8px;
      }
      h3 {
        font-size: 16px;
        color: $maincolor;
        font-weight: 400;
        line-height: 24px;
        font-family: $secondaryfont;
        margin-bottom: 16px;
      }
      .imgbackground {
        background-color: $grey;
        padding: 33px 38px 0;
      }
      .imgdiv {
        width: 294px;
        height: 397px;
      }
      .app-icons {
        gap: 20px;
        font-size: 20px;
        color: $maincolor;
      }
    }
  }
  .full-stops {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 140px;
    .mini-circle {
      border-radius: 100%;
      padding: 5px;
      background-color: $grey2;
      box-sizing: border-box;
      border: 4px solid $grey2;
    }

    .active-circle {
      background-color: $secondarycolor;
      border: 4px solid $grey2;
    }
  }
}

.wishlist {
  @include flex;
  align-items: center;
  p {
    font-size: 20px;
    color: $maincolor;
    font-weight: 400;
    line-height: 26px;
    font-family: $secondaryfont;
    margin-bottom: 16px;
  }
  .btn-color {
    margin-left: 880px;
    border: 1px solid $maincolor;
    background-color: $saletextcolor;
    a {
      color: $maincolor;
    }
  }
}
.fy {
  @include flex;
  gap: 10px;
  .align {
    @include align;
  }
  .rectangle {
    margin-right: 16px;
  }
  .btn-color {
    margin-left: 860px;
    border: 1px solid $maincolor;
    background-color: $saletextcolor;
    a {
      color: $maincolor;
    }
  }
  margin-bottom: 24px;
  .rectangle {
    background-color: $secondarycolor;
    height: 40px;
    width: 20px;
    border-radius: 4px;
  }
  p {
    color: $secondarycolor;
    font-size: 16px;
    font-weight: 600;
    font-family: Poppins;
    line-height: 20px;
  }
}

//responive
@media screen and (max-width: 800px) {
  .header {
    padding: 0 80px;
    height: 50px;
  }
  .nav {
    padding: 30px 20px 16px;
    margin-bottom: 30px;
    h1 {
      font-size: 20px;
    }
    nav {
      display: none;
    }
    .search--icons {
      .list {
        display: flex;
      }
    }
  }
  //about page
  #main {
    padding-left: 70px;
  }
  main {
    margin-bottom: 80px;
    .text-img {
      margin-top: 32px;
      flex-direction: column;
      .story {
        h1 {
          font-size: 42px;
        }
      }
      .responsive-img {
        transform: scale(0.8);
      }
    }
  }
  //cards
  section {
    padding: 0px 80px;

    .services {
      margin-left: 70px;
      gap: 20px;
      display: flex;
      flex-wrap: wrap;
      .box-about {
        border: 1px solid $maincolor;
        padding: 16px;
        width: 250px;
      }
      .box {
        .circle {
          padding: 10px;
          border: 10px;
          i {
            font-size: 32px;
          }
        }
        h2 {
          font-size: 18px;
          line-height: 24px;
          margin: 16px 0 8px;
        }
      }
    }
  }
  //persons
  section {
    padding: 0 80px;
    .scrol {
      .persons {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        .person {
          margin-bottom: 20px;
          h2 {
            font-size: 20px;
            line-height: 28px;
            margin: 24px 0 8px;
            font-weight: 500;
          }
          h3 {
            margin-bottom: 8px;
            line-height: 20px;
          }

          .imgbackground {
            padding-bottom: 0px;
          }
          .imgdiv {
            img {
              transform: scale(0.9);
            }
          }
        }
      }
      .full-stops {
        gap: 10px;
        margin-bottom: 80px;
        .mini-circle {
          padding: 4px;

          box-sizing: border-box;
          border: 3px solid $grey2;
        }

        .active-circle {
          border: 3px solid $grey2;
        }
      }
    }
  }
  //service
  section {
    padding: 0px 0px;
    justify-content: center;
    .responsive-div {
      display: flex;
      flex-direction: column;
      margin-bottom: 80px;
      margin-left: 0;
    }
  }
  //wishlist card1
  main {
    margin-bottom: 40px;
    padding: 0px 80px;
    .wishlist {
      height: 60px;
      display: flex;
      align-items: center;
      p {
        font-size: 16px;
        margin: 0;
      }
      .btn-color {
        justify-content: center;
        max-width: 200px;
        a {
          font-size: 12px;
          font-weight: 500;

          line-height: 18px;
        }
        padding: 8px 20px;
        margin-left: 350px;
      }
    }
    .carousel {
      display: flex;
      flex-wrap: wrap;
      .prodact {
        height: 150px;
        width: 140px;

        img {
          transform: scale(0.8);
        }
      }

      .card {
        .card--img {
          @include align;
          max-width: 280px;
          min-height: 220px;
          background-color: $grey;
          padding: 30px;
          border-radius: 4px;
        }
      }
      .card-text {
        p {
          font-size: 12px;
          font-weight: 500;
          line-height: 18px;
        }
        .prise {
          h4 {
            font-size: 16px;

            line-height: 24px;
          }
          h6 {
            font-size: 12px;
            font-weight: 500;

            line-height: 18px;
          }
          h5 {
            font-size: 12px;
            font-weight: 500;

            line-height: 18px;
          }
        }
      }
    }
  }

  section {
    padding: 0 80px;
    .fy {
      @include flex;
      gap: 10px;
      .align {
        @include align;
        p {
          margin-right: 200px;
        }
      }
      .rectangle {
        width: 15px;
        height: 30px;
      }
      .btn {
        @include responsive-btn;
        margin: 0;
      }
      .btn-color {
        margin-left: 0;
        border: 1px solid $maincolor;
        background-color: $saletextcolor;
        a {
          color: $maincolor;
        }
      }
      margin-bottom: 20px;
    }
    .carousel {
      display: flex;
      flex-wrap: wrap;
      .prodact {
        height: 150px;
        width: 140px;

        img {
          transform: scale(0.8);
        }
      }
      .card {
        .card--img {
          @include align;
          max-width: 280px;
          min-height: 220px;
          background-color: $grey;
          padding: 30px;
          border-radius: 4px;
        }
      }
      .card-text {
        p {
          font-size: 12px;
          font-weight: 500;
          line-height: 18px;
        }
        .prise {
          h4 {
            font-size: 16px;

            line-height: 24px;
          }
          h6 {
            font-size: 12px;
            font-weight: 500;

            line-height: 18px;
          }
          h5 {
            font-size: 12px;
            font-weight: 500;

            line-height: 18px;
          }
        }
      }
    }
  }
  //main page
  //sidebar
  .sidebar-banner {
    .sidebar {
      display: none;
    }
    .black {
      max-width: 100%;
      padding: 16px 40px 32px;
      .flex--text {
        max-width: 292px;
        img {
          margin-left: 0px;
        }
        h2 {
          color: white;
          font-size: 28px;
          font-weight: 500;
          line-height: 30px;
          margin: 10px 0;
        }
        .shop--arrow {
          p {
            font-size: 14px;
          }
          gap: 6px;
          i {
            color: white;
            font-size: 16px;
          }
        }
        .logo-text {
          i {
            font-size: 40px;
            color: $saletextcolor;
            display: flex;
          }
          display: flex;
          align-items: center;
          gap: 16px;
          color: white;
        }
      }
      img {
        width: 60%;
      }
    }
  }
  //cards 1
  section {
    .today {
      p {
        font-size: 12px;
      }
      .rectangle {
        width: 15px;
        height: 30px;
      }
    }
    .time--section {
      .time {
        h2 {
          font-size: 24px;
          line-height: 28px;
          margin-right: 200px;
        }
        .timer {
          h6 {
            font-size: 12px;
            line-height: 18px;
            font-weight: 500;
          }
          h3 {
            font-size: 24px;
            line-height: 24px;
            font-weight: 700;
          }
        }
        .none {
          display: none;
        }
      }
    }
  }

  section {
    .carousel {
      display: flex;
      flex-wrap: wrap;
      .prodact {
        height: 150px;
        width: 140px;

        img {
          transform: scale(0.8);
        }
      }
      .card {
        .card--img {
          @include align;
          max-width: 280px;
          min-height: 220px;
          background-color: $grey;
          padding: 30px;
          border-radius: 4px;
        }
      }
      .card-text {
        p {
          font-size: 12px;
          font-weight: 500;
          line-height: 18px;
        }
        .prise {
          h4 {
            font-size: 16px;

            line-height: 24px;
          }
          h6 {
            font-size: 12px;
            font-weight: 500;

            line-height: 18px;
          }
          h5 {
            font-size: 12px;
            font-weight: 500;

            line-height: 18px;
          }
        }
      }
    }
  }
  //cards 2
  section {
    .carousel {
      margin-top: 20px;
    }
    .categories {
      p {
        font-size: 12px;
      }
      .rectangle {
        width: 15px;
        height: 30px;
      }
    }
    .time {
      h2 {
        font-size: 24px;
        line-height: 28px;
        margin-right: 200px;
        margin-bottom: 20px;
      }
      .row-categ {
        display: none;
      }
    }
    .category--cards {
      display: flex;
      flex-wrap: wrap;

      .category--card {
        border: 2px solid $grey;
        border-radius: 4px;
        padding: 25px 55px;
        max-width: 170px;
        min-height: 145px;
        @include align;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-bottom: 20px;

        i {
          font-size: 24px;
        }
        p {
          font-size: 16px;
          font-family: $secondaryfont;
          font-weight: 400;
          margin-top: 16px;
        }
      }
    }
  }
  section {
    .time {
      margin-bottom: 20px;

      h2 {
        margin: 0;
      }
      .btn--view {
        margin: 0 0 0 200px;
        @include responsive-btn;
      }
    }
    .carousel {
      margin-top: 0;
    }
  }
  //baner2

  .banner2 {
    .black {
      padding: 30px;
      .flex--text {
        .btn2 {
          @include responsive-btn;
          background-color: $button;
        }
        h2 {
          font-size: 30px;
          font-weight: 500;
          line-height: 30px;
        }
        .banner-timer {
          display: flex;
          gap: 18px;
          .rgoli {
            padding: 20px;
            flex-direction: column;
            align-items: center;
            background-color: $saletextcolor;
            border-radius: 100px;
            display: flex;

            justify-content: center;
            h6 {
              font-family: $secondaryfont;
              font-size: 16px;
              font-weight: 600;
              line-height: 18px;
            }
            h3 {
              font-family: $secondaryfont;
              font-size: 11px;
              font-weight: 400;
              line-height: 16px;
            }
          }
        }
      }
    }
    img {
      display: none;
    }
    .responsive {
      width: 298px;
      height: 300px;
      img {
        display: flex;
        width: 100%;
        height: 100%;
      }
    }
  }
  //card section3
  section {
    .products {
      h2 {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 20px;
      }
      .row-categ {
        display: none;
      }
    }
    .products-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 60px;
      :nth-child(5) {
        display: none;
      }
      :nth-child(6) {
        display: none;
      }
      :nth-child(7) {
        display: none;
      }
      :nth-child(8) {
        display: none;
      }
      .prodact {
        height: 150px;
        width: 140px;

        img {
          transform: scale(0.8);
        }
      }
      .card {
        .card--img {
          @include align;
          max-width: 280px;
          min-height: 220px;
          background-color: $grey;
          padding: 30px;
          border-radius: 4px;
        }
      }
      .card-text {
        p {
          font-size: 12px;
          font-weight: 500;
          line-height: 18px;
        }
        .prise {
          h4 {
            font-size: 16px;

            line-height: 24px;
          }
          h6 {
            font-size: 12px;
            font-weight: 500;

            line-height: 18px;
          }
          h5 {
            font-size: 12px;
            font-weight: 500;

            line-height: 18px;
          }
        }
      }
    }
  }
  //Featured
  section {
    .products {
      align-items: center;
    }
    .new {
      margin-top: 0px;
    }
  }
}
